worker_processes  1;

events {
  worker_connections  1024;
}

http {
  include       mime.types;
  default_type  application/octet-stream;
  
  sendfile        on;

  keepalive_timeout  65;
 
  proxy_cache_path MAVENREPO_CACHE_PATH levels=1:2 keys_zone=MAVEN:20m inactive=30d max_size=10g;

  server {
    listen 8080;
    server_name localhost;

    set $bucket MAVENREPO_BUCKET;
    set $aws_access_key AWS_ACCESS_KEY_ID;
    set $aws_secret_key AWS_SECRET_ACCESS_KEY;

    location / {
      set $key $request_uri;
      include proxy.conf;
    }

    location ~ \.(jar|jar.md5|jar.sha1|pom|pom.md5|pom.sha1)$ {
      set $key $request_uri;
      proxy_cache MAVEN;
      proxy_cache_valid 200 30d;
      include proxy.conf;
    }
  }
}

